@font-face {
  font-family: 'raiders';
  src:
    local('Raiders'),
    local('raiders'),
    url('raiders.ttf')
    format('truetype');
}

/*
  colors
  https://coolors.co/fff6d3-ffa354-676e77-76e1fc-e5ff7f
*/

.block.logo {
  background-color: white;
}

.block.about {
  background: -moz-linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(253,255,214,1) 51%, rgba(161,255,244,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(51%, rgba(253,255,214,1)), color-stop(100%, rgba(161,255,244,1)));
  background: -webkit-linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(253,255,214,1) 51%, rgba(161,255,244,1) 100%);
  background: -o-linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(253,255,214,1) 51%, rgba(161,255,244,1) 100%);
  background: -ms-linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(253,255,214,1) 51%, rgba(161,255,244,1) 100%);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(253,255,214,1) 51%, rgba(161,255,244,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#A1FFF4',GradientType=0 );
}

.block.games {
  background: url("pattern_donut.svg"), -moz-linear-gradient(62deg, rgba(255,234,148,1) 0%, rgba(251,214,255,1) 50%, rgba(173,255,254,1) 100%); /* ff3.6+ */
  background: url("pattern_donut.svg"), -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(255,234,148,1)), color-stop(50%, rgba(251,214,255,1)), color-stop(100%, rgba(173,255,254,1))); /* safari4+,chrome */
  background: url("pattern_donut.svg"), -webkit-linear-gradient(62deg, rgba(255,234,148,1) 0%, rgba(251,214,255,1) 50%, rgba(173,255,254,1) 100%); /* safari5.1+,chrome10+ */
  background: url("pattern_donut.svg"), -o-linear-gradient(62deg, rgba(255,234,148,1) 0%, rgba(251,214,255,1) 50%, rgba(173,255,254,1) 100%); /* opera 11.10+ */
  background: url("pattern_donut.svg"), -ms-linear-gradient(62deg, rgba(255,234,148,1) 0%, rgba(251,214,255,1) 50%, rgba(173,255,254,1) 100%); /* ie10+ */
  background: url("pattern_donut.svg"), linear-gradient(28deg, rgba(255,234,148,1) 0%, rgba(251,214,255,1) 50%, rgba(173,255,254,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ADFFFE', endColorstr='#FFEA94',GradientType=0 ); /* ie6-9 */
}

.block.clients {
  background: -moz-linear-gradient(348deg, rgba(179,141,196,1) 0%, rgba(255,158,207,1) 50%, rgba(255,221,163,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(179,141,196,1)), color-stop(50%, rgba(255,158,207,1)), color-stop(100%, rgba(255,221,163,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(348deg, rgba(179,141,196,1) 0%, rgba(255,158,207,1) 50%, rgba(255,221,163,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(348deg, rgba(179,141,196,1) 0%, rgba(255,158,207,1) 50%, rgba(255,221,163,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(348deg, rgba(179,141,196,1) 0%, rgba(255,158,207,1) 50%, rgba(255,221,163,1) 100%); /* ie10+ */
  background: linear-gradient(102deg, rgba(179,141,196,1) 0%, rgba(255,158,207,1) 50%, rgba(255,221,163,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#B38DC4', endColorstr='#FFDDA3',GradientType=1 ); /* ie6-9 */
}

.block.clients h2 {
  color: white;
}

.block.talks {
  background: -moz-linear-gradient(106deg, rgba(251,255,145,1) 0%, rgba(255,216,166,1) 50%, rgba(168,255,216,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(168,255,216,1)), color-stop(50%, rgba(255,216,166,1)), color-stop(100%, rgba(251,255,145,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(106deg, rgba(251,255,145,1) 0%, rgba(255,216,166,1) 50%, rgba(168,255,216,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(106deg, rgba(251,255,145,1) 0%, rgba(255,216,166,1) 50%, rgba(168,255,216,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(106deg, rgba(251,255,145,1) 0%, rgba(255,216,166,1) 50%, rgba(168,255,216,1) 100%); /* ie10+ */
  background: linear-gradient(344deg, rgba(251,255,145,1) 0%, rgba(255,216,166,1) 50%, rgba(168,255,216,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#A8FFD8', endColorstr='#FBFF91',GradientType=0 ); /* ie6-9 */
}

.block.contact {
  background: url("pattern_pills.svg"), -moz-linear-gradient(290deg, rgba(255,171,226,1) 0%, rgba(255,232,184,1) 50%, rgba(176,246,255,1) 100%); /* ff3.6+ */
  background: url("pattern_pills.svg"), -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,171,226,1)), color-stop(50%, rgba(255,232,184,1)), color-stop(100%, rgba(176,246,255,1))); /* safari4+,chrome */
  background: url("pattern_pills.svg"), -webkit-linear-gradient(290deg, rgba(255,171,226,1) 0%, rgba(255,232,184,1) 50%, rgba(176,246,255,1) 100%); /* safari5.1+,chrome10+ */
  background: url("pattern_pills.svg"), -o-linear-gradient(290deg, rgba(255,171,226,1) 0%, rgba(255,232,184,1) 50%, rgba(176,246,255,1) 100%); /* opera 11.10+ */
  background: url("pattern_pills.svg"), -ms-linear-gradient(290deg, rgba(255,171,226,1) 0%, rgba(255,232,184,1) 50%, rgba(176,246,255,1) 100%); /* ie10+ */
  background: url("pattern_pills.svg"), linear-gradient(160deg, rgba(255,171,226,1) 0%, rgba(255,232,184,1) 50%, rgba(176,246,255,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFABE2', endColorstr='#B0F6FF',GradientType=0 ); /* ie6-9 */
}

a {
  color: #008bdc;
  padding: 0.2em 0em;
  border-bottom: 2px solid #008bdc;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: #008bdc;
}

.table a {
  font-weight: 100;
}

/* styles */

body, html {
  padding: 0;
  margin: 0;
  font-family: Helvetica, sans-serif;
  line-height: 1.35;
}

p {
  font-weight: 200;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
  margin-bottom: 2em;
  display: block;
  width: 100%;
  text-align: center;
}

h1, h2 {
  font-family: 'raiders', Helvetica, sans-serif;
  text-transform: uppercase;
}

.card {
  background-color: white;
  -webkit-box-shadow: 0px 10px 49px 0px rgba(171,188,209,1);
  -moz-box-shadow: 0px 10px 49px 0px rgba(171,188,209,1);
  box-shadow: 0px 10px 49px 0px rgba(171,188,209,1);
  width: 100%;
  text-align: center;
  padding: 2em 0;
}

.card .details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0em 1.5em;
}

.card .left {
  text-align: left;
}

.card .right {
  text-align: right;
}

.wrapper {
  display: grid;
  grid-column-gap: 0;
  grid-row-gap: 0;
  grid-template-columns: auto;
  grid-template-rows: auto;
  align-items: stretch;
  justify-items: stretch;
  justify-content: stretch;
  grid-template-areas:
    "logo"
    "about"
    "games"
    "clients"
    "talks"
    "contact"
    "newsletter";
}

.block {
  padding: 5% 10%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.block.logo {
  grid-area: logo;
  padding: 0;
}

.block.about {
  grid-area: about;
  justify-content: left;
  align-items: flex-start;
  line-height: 1.5em;
}

.block.games {
  grid-area: games;
}

.block.clients {
  grid-area: clients;
}

.block.talks {
  grid-area: talks;
}

.block.contact {
  grid-area: contact;
}

.block.newsletter {
  grid-area: newsletter;
  justify-content: left;
  align-items: flex-start;
  line-height: 1.5em;
}

.block.logo img {
  width: 30%;
  margin: 3em 0;
}

.table {
  display: grid;
  grid-template-columns: auto;
  width: 100%;
  /*grid-template-columns: 1fr 1fr;*/
}

.table div {
  font-weight: 800;
  display: flex;
  justify-content: left;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 1em;
}

.table .content {
  padding-bottom: 1em;
}

.table p {
  font-weight: 200;
  font-size: 1em;
  color: #222;
  margin: 0 0 0.5em 0;
}

.logos {
  display: flex;
  align-content: flex-start;
  flex-direction: row;
  align-items: flex-start;
  flex-flow: row wrap;
  justify-content: space-around;
}

.logos .logo {
  width: 5em;
  height: 5em;
  margin: 2em;
}

.contact ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.contact li {
  margin-bottom: 0.3em;
}

/* NEWSLETTER */

#mc_embed_signup {
    margin-top: 3em;
    width: 100%;
}

#mc_embed_signup_scroll {
    display: flex;
    flex-direction: column;
}

.mc-field-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 2em;
}

.mc-field-group input {
    display: block;
    border: none;
    outline: none;
    background: none;
    /*font-family: 'Open Sans', Helvetica, Arial, sans-serif;*/
    font-size: 2em;
    color: black;
    border-bottom: 1px solid rgba(0,0,0,0.4);
}

#mc_embed_signup_scroll .submit {
    margin: 2em 0 5em 0;
}

#mc_embed_signup_scroll .submit input {
    width: 100%;
    background-color: rgba(179,141,196,1);
    font-size: 2em;
    color: white;
    padding: 0.8em;
    display: inline-block;
    border: none;
    cursor: pointer;
    -webkit-box-shadow: 0px 10px 49px 0px rgba(171,188,209,1);
    -moz-box-shadow: 0px 10px 49px 0px rgba(171,188,209,1);
    box-shadow: 0px 10px 49px 0px rgba(171,188,209,1);
    transition-property: background-color;
    transition-duration: 0.5s;
}

#mc_embed_signup_scroll .submit input:hover {
    background-color: rgba(255,158,207,1);
}

.help-text {
    display: block;
    width: 100%;
    text-align: right;
    font-size: 0.75em;
    color: rgb(128, 128, 128);
}

@media all and (min-width: 600px) {

  .block.about,
  .block.newsletter {
    padding: 5% 15%;
  }

}

@media all and (min-width: 800px) {

  .block,
  .block.newsletter,
  .block.about {
    padding: 5% 20%;
  }

  .block.clients {
    padding: 5% 10%;
  }

  .block.contact {
    padding: 10% 20%;
  }

}

@media all and (min-width: 960px) {

  .table {
    grid-template-columns: 1fr 1fr;
  }

}

@media all and (min-width: 1150px) {

  .wrapper {
    grid-template-columns: 50% 50%;
    grid-template-areas:
      "logo about"
      "games clients"
      "talks contact"
      "newsletter newsletter";
  }

  .block,
  .block.about {
    padding: 5% 10%;
  }

  .block.contact {
    padding: 10% 10%;
  }

  .block.newsletter {
    padding: 5% 30%;
  }

  .block.logo img {
    width: 50%;
    margin: 3em 0;
  }

  .block.about {
    background: -moz-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(253,255,214,1) 34%, rgba(161,255,244,1) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(34%, rgba(253,255,214,1)), color-stop(100%, rgba(161,255,244,1)));
    background: -webkit-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(253,255,214,1) 34%, rgba(161,255,244,1) 100%);
    background: -o-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(253,255,214,1) 34%, rgba(161,255,244,1) 100%);
    background: -ms-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(253,255,214,1) 34%, rgba(161,255,244,1) 100%);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(253,255,214,1) 34%, rgba(161,255,244,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#A1FFF4',GradientType=1 );
  }
}
